<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Johen Doe</h2>
      <h4>Hi Johne Deo</h4>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Johene Deo">
    </div>
  </div>

  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>
  <h2 mat-subheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon> Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon> Leads
  </a>
</mat-nav-list>

