<div fxLayoutAlign="space-around center" class="fxFlexFill" fxLayout="row">
  <mat-card fxFlex="25">


    <form class="example-form" fxLayoutAlign="stretch" fxLayout="column" #myForm="ngForm" (ngSubmit)="saveItem(myForm)">
      <mat-toolbar color="primary">Login</mat-toolbar>

      <mat-form-field class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" placeholder="Enter Email Address" name="email" [(ngModel)]="item.email" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" name="password" [(ngModel)]="item.password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!myForm.valid">Sign In</button>
    </form>
  </mat-card>
</div>
